<div class="ui inverted menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
  </div>

  <h2 class="ui header">
    <i class="settings icon"></i>
    <div class="content">
      Account Settings
      <div class="sub header">Manage your preferences</div>
    </div>
  </h2>
<h1 class="ui header">{{name | uppercase}}</h1>
<ul>
    <li>Age: {{age}}</li>
    <li>Adress:</li>
    <li>City: {{address.city}}</li>
</ul>
<div><button class="ui secondary button" (click)="onClick()">Click Me</button></div>

<form class="ui form">
    <div class="field">
        <label for="name">Name: </label>
        <!-- It indicates two-way data-binding -->
        <input type="text" [(ngModel)]="name" name="name">
    </div>
    <div class="field">
        <label for="age">Age: </label>
        <input type="text" [(ngModel)]="age" name="age">
    </div>
    <div class="field">
        <label for="city">City: </label>
        <input type="text" [(ngModel)]="address.city" name="city">
    </div>
    <button class="ui button" [disabled]="favorite" (click)="toggleFavorite()" type="submit">Submit</button>
  </form>

<h3>Hobbies</h3>
{{hobbies}}
<form (submit)="addHobby(hobby.value)">
    <div>
        <label for="hobby">Hobby</label>
        <input type="text" #hobby>
    </div>
</form>
<ul>
<li *ngFor="let hobby of hobbies; let i = index">
    {{i+1}}: {{hobby}} <button (click)="deleteHobby(hobby)">X</button>
</li>
</ul>
